<style>body{background: #f7f2f266;}</style>
<header class="header text-light " style="background-image: url(/images/contact.jpg) !important;background-size:cover !important;background:no-repeat center center;">
    <div class="position-relative mask" style="padding:13rem 0rem;background-color: rgba(0, 0, 0, 0.6)">
                <div class="text-center">
                    <h1>Contact Me</h1>
            </div>
    </div>  
</header> 
<div class="container mt-5">
    <form >
        <!-- Name input -->
        <div class="form-floating mb-4">
          <input type="text" id="form4Example1" class="form-control border-0 border-bottom outline-none rounded-0 shadow-none" />
          <label  for="form4Example1">Name</label>
        </div>
      
        <!-- Email input -->
        <div class="form-floating mb-4">
          <input type="email" id="form4Example2" class="form-control border-0 border-bottom outline-none rounded-0 shadow-none" />
          <label for="form4Example2">Email address</label>
        </div>

        <!-- Message input -->
        <div class="form-floating mb-4">
          <textarea class="form-control border-0 border-bottom rounded-0 outline-none fs-4 shadow-none" style="height: 14rem;" id="form4Example3" rows="4"></textarea>
          <label for="form4Example3">Message</label>
        </div>
      
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary mb-4">Send</button>
      </form>
</div>