.outline-none{
    outline:none;
}
.desc{
    font-family: 'Patrick Hand', cursive;
}
.navbar {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: 0.5s;
}
.profileDiv{
    background:white;
    z-index:-1;
    position: relative;
    border-radius: 20px;
    padding: 25px;
    top: -99px;
    padding-top: 118px;
}
