<style>body{background: #f7f2f266;}</style>
<style>body{background: #f7f2f266;}</style>

<div class="container my-5  text-center">
    <h1>Change Password</h1>
    <div class="d-flex justify-content-center mt-5">
    <form style="width:32rem;">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="username" id="username" class="form-control" />
          <label class="form-label" for="username">Username</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" class="form-control" />
          <label class="form-label" for="password">Password</label>
        </div>

        <div class="form-outline mb-4">
            <input type="password" id="NewPassword" class="form-control" />
            <label class="form-label" for="NewPassword">New Password</label>
          </div>

        <div class="form-outline mb-4">
            <input type="password" id="confirmpassword" class="form-control" />
            <label class="form-label" for="confirmpassword">Confirm New Password</label>
          </div>

      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary ">Change Password</button>
      </form>
      </div>
</div>