<link rel="stylesheet" href="/css/write.css">

<div class="container p-5 ">
    <img src="/images/defaultPost.jpg" alt="post image" class="postImage" width="400" height="400" />
    <div class="d-flex flex-column mt-2">
        <div class="d-flex mt-3 align-items-center">
            <p class="fs-2 w-100  text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="row">
            <div class="col">author: charchit</div>
            <div class="col"><span class="float-end"> date: 12/12/2200</span></div>
        </div>
        <div class="fs-4 w-100 desc mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magni itaque minima soluta, sapiente ab consequuntur ducimus provident molestias dicta at repudiandae reiciendis voluptatem quasi molestiae deleniti velit animi illo id porro! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum unde laborum asperiores sed animi ratione quis voluptate ad facilis obcaecati? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nisi iusto mollitia eveniet, vel blanditiis quisquam commodi vero illo magni?
        </div>
        <div class="d-flex justify-content-end mt-3"><button class="btn btn-primary btn-sm mx-1">
            Edit
        </button><button class="btn btn-danger btn-sm mx-1">
            Delete
        </button></div>
    </form>
    </div>
</div>